# EditorConfig documentation: https://editorconfig.org/

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[makefile]
indent_style = tab

[*.{c,h,ps1,js}]
indent_style = space
indent_size = 4
